src/main/webapp/WEB-INF/wsdl/clkio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="clkio" targetNamespace="http://ws.clkio.com"
	xmlns:clkws="http://ws.clkio.com"
	xmlns:common="http://schemas.clkio.com/common"
	xmlns:user="http://schemas.clkio.com/user"
	xmlns:login="http://schemas.clkio.com/login"
	xmlns:email="http://schemas.clkio.com/email"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<wsdl:types>
		<xs:schema targetNamespace="http://ws.clkio.com">
			<xs:import namespace="http://schemas.clkio.com/common" schemaLocation="common.xsd" />
			<xs:import namespace="http://schemas.clkio.com/user" schemaLocation="user.xsd" />
			<xs:import namespace="http://schemas.clkio.com/login" schemaLocation="login.xsd" />
			<xs:import namespace="http://schemas.clkio.com/email" schemaLocation="email.xsd" />

			<xs:element name="response" type="common:response" nillable="false"/>
			<xs:element name="responseException" type="common:responseException" nillable="false"/>
			<xs:element name="insertUserRequest" type="user:insertUserRequest" nillable="false"/>
			<xs:element name="doLoginRequest" type="login:doLoginRequest" nillable="false"/>
			<xs:element name="loginResponse" type="login:loginResponse" nillable="false"/>
			<xs:element name="confirmEmailRequest" type="email:confirmEmailRequest" nillable="false"/>
			<xs:element name="insertEmailRequest" type="email:insertEmailRequest" nillable="false"/>
		</xs:schema>
	</wsdl:types>
	
	<!-- messages -->
	<wsdl:message name="response">
		<wsdl:part name="result" element="clkws:response" />
	</wsdl:message>
	<wsdl:message name="responseException">
		<wsdl:part name="exception" element="clkws:responseException" />
	</wsdl:message>
	<wsdl:message name="insertUserRequest">
		<wsdl:part name="request" element="clkws:insertUserRequest" />
	</wsdl:message>
	<wsdl:message name="doLoginRequest">
		<wsdl:part name="request" element="clkws:doLoginRequest" />
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part name="result" element="clkws:loginResponse" />
	</wsdl:message>
	<wsdl:message name="confirmEmailRequest">
		<wsdl:part name="request" element="clkws:confirmEmailRequest" />
	</wsdl:message>
	<wsdl:message name="insertEmailRequest">
		<wsdl:part name="request" element="clkws:insertEmailRequest" />
	</wsdl:message>
	
	<!-- port types -->
	<wsdl:portType name="UserPort">
		<wsdl:operation name="insert">
			<wsdl:input message="clkws:insertUserRequest" />
			<wsdl:output message="clkws:response" />
			<wsdl:fault message="clkws:responseException" name="insertUserException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="LoginPort">
		<wsdl:operation name="doLogin">
			<wsdl:input message="clkws:doLoginRequest" />
			<wsdl:output message="clkws:loginResponse" />
			<wsdl:fault message="clkws:responseException" name="doLoginException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="EmailPort">
		<wsdl:operation name="confirm">
			<wsdl:input message="clkws:confirmEmailRequest" />
			<wsdl:output message="clkws:response" />
			<wsdl:fault message="clkws:responseException" name="confirmEmailException" />
		</wsdl:operation>
		<wsdl:operation name="insert">
			<wsdl:input message="clkws:insertEmailRequest" />
			<wsdl:output message="clkws:response" />
			<wsdl:fault message="clkws:responseException" name="insertEmailException" />
		</wsdl:operation>
	</wsdl:portType>
	
	<!-- bindings -->
	<wsdl:binding name="UserBinding" type="clkws:UserPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="insert">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="insertUserException">
				<soap:fault name="insertUserException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="LoginBinding" type="clkws:LoginPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="doLogin">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="doLoginException">
				<soap:fault name="doLoginException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="EmailBinding" type="clkws:EmailPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="confirm">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="confirmEmailException">
				<soap:fault name="confirmEmailException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="insert">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="insertEmailException">
				<soap:fault name="insertEmailException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
	<!-- port services -->
	<wsdl:service name="ClkIOWS">
		<wsdl:port name="UserService" binding="clkws:UserBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</wsdl:port>
		<wsdl:port name="LoginService" binding="clkws:LoginBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</wsdl:port>
		<wsdl:port name="EmailService" binding="clkws:EmailBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
