src/main/webapp/WEB-INF/wsdl/clkio-jaxws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="clkio" targetNamespace="http://ws.clkio.com"
	xmlns:clkws="http://ws.clkio.com"
	xmlns:clkio="http://schemas.clkio.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<wsdl:types>
		<xs:schema targetNamespace="http://schemas.clkio.com"
			xmlns:common="http://schemas.clkio.com/common"
			xmlns:user="http://schemas.clkio.com/user"
			xmlns:login="http://schemas.clkio.com/login"
			xmlns:email="http://schemas.clkio.com/email"
			xmlns:profile="http://schemas.clkio.com/profile"
			xmlns:adjusting="http://schemas.clkio.com/adjusting"
			xmlns:reason="http://schemas.clkio.com/reason"
			xmlns:timecard="http://schemas.clkio.com/timecard"
			xmlns:resetpassword="http://schemas.clkio.com/resetpassword"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
			
			<xs:import namespace="http://schemas.clkio.com/common" schemaLocation="http://schemas.clkio.com/common.xsd" />
			<xs:import namespace="http://schemas.clkio.com/user" schemaLocation="http://schemas.clkio.com/user.xsd" />
			<xs:import namespace="http://schemas.clkio.com/login" schemaLocation="http://schemas.clkio.com/login.xsd" />
			<xs:import namespace="http://schemas.clkio.com/email" schemaLocation="http://schemas.clkio.com/email.xsd" />
			<xs:import namespace="http://schemas.clkio.com/profile" schemaLocation="http://schemas.clkio.com/profile.xsd" />
			<xs:import namespace="http://schemas.clkio.com/adjusting" schemaLocation="http://schemas.clkio.com/adjusting.xsd" />
			<xs:import namespace="http://schemas.clkio.com/reason" schemaLocation="http://schemas.clkio.com/reason.xsd" />
			<xs:import namespace="http://schemas.clkio.com/timecard" schemaLocation="http://schemas.clkio.com/timecard.xsd" />
			<xs:import namespace="http://schemas.clkio.com/resetpassword" schemaLocation="http://schemas.clkio.com/resetpassword.xsd" />
			<xs:import namespace="http://schemas.clkio.com/clockinclockout" schemaLocation="http://schemas.clkio.com/clockinclockout.xsd" />
			<xs:import namespace="http://schemas.clkio.com/day" schemaLocation="http://schemas.clkio.com/day.xsd" />
			<xs:import namespace="http://schemas.clkio.com/manualentering" schemaLocation="http://schemas.clkio.com/manualentering.xsd" />

			<xs:element type="xs:string" name="clkioLoginCode"/>

			<xs:element type="common:response" name="response" nillable="false"/>
			<xs:element type="common:responseCreated" name="responseCreated" nillable="false"/>
			<xs:element type="common:responseFault" name="responseFault" nillable="false"/>
			
			<xs:element type="user:insertUserRequest" name="insertUserRequest" nillable="false"/>
			
			<xs:element type="login:doLoginRequest" name="doLoginRequest" nillable="false"/>
			<xs:element type="login:doLogoutRequest" name="doLogoutRequest" nillable="false"/>
			<xs:element type="login:loginResponse" name="loginResponse" nillable="false"/>
			
			<xs:element type="email:confirmEmailRequest" name="confirmEmailRequest" nillable="false"/>
			<xs:element type="email:insertEmailRequest" name="insertEmailRequest" nillable="false"/>
			<xs:element type="email:listEmailRequest" name="listEmailRequest" nillable="false"/>
			<xs:element type="email:listEmailResponse" name="listEmailResponse" nillable="false"/>
			<xs:element type="email:deleteEmailRequest" name="deleteEmailRequest" nillable="false"/>
			<xs:element type="email:setEmailAsPrimaryRequest" name="setEmailAsPrimaryRequest" nillable="false"/>

			<xs:element type="timecard:getTotalTimeRequest" name="getTotalTimeRequest" nillable="false"/>
			<xs:element type="timecard:getTotalTimeResponse" name="getTotalTimeResponse" nillable="false"/>
			<xs:element type="timecard:getTotalTimeMonthlyRequest" name="getTotalTimeMonthlyRequest" nillable="false"/>
			<xs:element type="timecard:getTotalTimeMonthlyResponse" name="getTotalTimeMonthlyResponse" nillable="false"/>
			<xs:element type="timecard:getTimeCardRequest" name="getTimeCardRequest" nillable="false"/>
			<xs:element type="timecard:getTimeCardResponse" name="getTimeCardResponse" nillable="false"/>
			<xs:element type="timecard:punchClockRequest" name="punchClockRequest" nillable="false"/>
			<xs:element type="timecard:insertClockinClockoutRequest" name="insertClockinClockoutRequest" nillable="false"/>
			<xs:element type="timecard:updateClockinClockoutRequest" name="updateClockinClockoutRequest" nillable="false"/>
			<xs:element type="timecard:deleteClockinClockoutRequest" name="deleteClockinClockoutRequest" nillable="false"/>
			<xs:element type="timecard:insertManualEnteringRequest" name="insertManualEnteringRequest" nillable="false"/>
			<xs:element type="timecard:updateManualEnteringRequest" name="updateManualEnteringRequest" nillable="false"/>
			<xs:element type="timecard:deleteManualEnteringRequest" name="deleteManualEnteringRequest" nillable="false"/>
			<xs:element type="timecard:setNotesRequest" name="setNotesRequest" nillable="false"/>
			<xs:element type="timecard:setExpectedHoursRequest" name="setExpectedHoursRequest" nillable="false"/>
			
			<xs:element type="resetpassword:requestResetPasswordRequest" name="requestResetPasswordRequest" nillable="false"/>
			<xs:element type="resetpassword:confirmResetPasswordRequest" name="confirmResetPasswordRequest" nillable="false"/>
			<xs:element type="resetpassword:confirmResetPasswordResponse" name="confirmResetPasswordResponse" nillable="false"/>
			<xs:element type="resetpassword:resetPasswordRequest" name="resetPasswordRequest" nillable="false"/>
			
			<xs:element type="profile:listProfileRequest" name="listProfileRequest" nillable="false"/>
			<xs:element type="profile:listProfileResponse" name="listProfileResponse" nillable="false"/>
			<xs:element type="profile:insertProfileRequest" name="insertProfileRequest" nillable="false"/>
			<xs:element type="profile:updateProfileRequest" name="updateProfileRequest" nillable="false"/>
			<xs:element type="profile:deleteProfileRequest" name="deleteProfileRequest" nillable="false"/>
			
			<xs:element type="adjusting:insertAdjustingRequest" name="insertAdjustingRequest" nillable="false"/>
			<xs:element type="adjusting:updateAdjustingRequest" name="updateAdjustingRequest" nillable="false"/>
			<xs:element type="adjusting:deleteAdjustingRequest" name="deleteAdjustingRequest" nillable="false"/>
			<xs:element type="adjusting:listAdjustingRequest" name="listAdjustingRequest" nillable="false"/>
			<xs:element type="adjusting:listAdjustingResponse" name="listAdjustingResponse" nillable="false"/>
						
			<xs:element type="reason:insertManualEnteringReasonRequest" name="insertManualEnteringReasonRequest" nillable="false"/>
			<xs:element type="reason:updateManualEnteringReasonRequest" name="updateManualEnteringReasonRequest" nillable="false"/>
			<xs:element type="reason:deleteManualEnteringReasonRequest" name="deleteManualEnteringReasonRequest" nillable="false"/>
			<xs:element type="reason:listManualEnteringReasonRequest" name="listManualEnteringReasonRequest" nillable="false"/>
			<xs:element type="reason:listManualEnteringReasonResponse" name="listManualEnteringReasonResponse" nillable="false"/>
		</xs:schema>
	</wsdl:types>
	
	<!-- messages -->
	<wsdl:message name="response">
		<wsdl:part name="result" element="clkio:response" />
	</wsdl:message>
	<wsdl:message name="responseCreated">
		<wsdl:part name="result" element="clkio:responseCreated" />
	</wsdl:message>
	<wsdl:message name="responseException">
		<wsdl:part name="exception" element="clkio:responseFault" />
	</wsdl:message>
	<wsdl:message name="insertUserRequest">
		<wsdl:part name="request" element="clkio:insertUserRequest" />
	</wsdl:message>
	<wsdl:message name="doLoginRequest">
		<wsdl:part name="request" element="clkio:doLoginRequest" />
	</wsdl:message>
	<wsdl:message name="doLogoutRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:doLogoutRequest" />
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part name="result" element="clkio:loginResponse" />
	</wsdl:message>
	<wsdl:message name="confirmEmailRequest">
		<wsdl:part name="request" element="clkio:confirmEmailRequest" />
	</wsdl:message>
	<wsdl:message name="insertEmailRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:insertEmailRequest" />
	</wsdl:message>
	<wsdl:message name="listEmailRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:listEmailRequest" />
	</wsdl:message>
	<wsdl:message name="listEmailResponse">
		<wsdl:part name="result" element="clkio:listEmailResponse" />
	</wsdl:message>
	<wsdl:message name="deleteEmailRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:deleteEmailRequest" />
	</wsdl:message>
	<wsdl:message name="setEmailAsPrimaryRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:setEmailAsPrimaryRequest" />
	</wsdl:message>
	<wsdl:message name="listProfileRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:listProfileRequest" />
	</wsdl:message>
	<wsdl:message name="listProfileResponse">
		<wsdl:part name="result" element="clkio:listProfileResponse" />
	</wsdl:message>
	<wsdl:message name="listAdjustingRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:listAdjustingRequest" />
	</wsdl:message>
	<wsdl:message name="listAdjustingResponse">
		<wsdl:part name="result" element="clkio:listAdjustingResponse" />
	</wsdl:message>
	<wsdl:message name="listManualEnteringReasonRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:listManualEnteringReasonRequest" />
	</wsdl:message>
	<wsdl:message name="listManualEnteringReasonResponse">
		<wsdl:part name="result" element="clkio:listManualEnteringReasonResponse" />
	</wsdl:message>
	<wsdl:message name="getTotalTimeRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:getTotalTimeRequest" />
	</wsdl:message>
	<wsdl:message name="getTotalTimeResponse">
		<wsdl:part name="result" element="clkio:getTotalTimeResponse" />
	</wsdl:message>
	<wsdl:message name="requestResetPasswordRequest">
		<wsdl:part name="request" element="clkio:requestResetPasswordRequest" />
	</wsdl:message>
	<wsdl:message name="confirmResetPasswordRequest">
		<wsdl:part name="request" element="clkio:confirmResetPasswordRequest" />
	</wsdl:message>
	<wsdl:message name="confirmResetPasswordResponse">
		<wsdl:part name="result" element="clkio:confirmResetPasswordResponse" />
	</wsdl:message>
	<wsdl:message name="resetPasswordRequest">
		<wsdl:part name="request" element="clkio:resetPasswordRequest" />
	</wsdl:message>
	<wsdl:message name="insertProfileRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:insertProfileRequest" />
	</wsdl:message>
	<wsdl:message name="updateProfileRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:updateProfileRequest" />
	</wsdl:message>
	<wsdl:message name="deleteProfileRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:deleteProfileRequest" />
	</wsdl:message>
	<wsdl:message name="insertAdjustingRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:insertAdjustingRequest" />
	</wsdl:message>
	<wsdl:message name="updateAdjustingRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:updateAdjustingRequest" />
	</wsdl:message>
	<wsdl:message name="deleteAdjustingRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:deleteAdjustingRequest" />
	</wsdl:message>
	<wsdl:message name="insertManualEnteringReasonRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:insertManualEnteringReasonRequest" />
	</wsdl:message>
	<wsdl:message name="updateManualEnteringReasonRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:updateManualEnteringReasonRequest" />
	</wsdl:message>
	<wsdl:message name="deleteManualEnteringReasonRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:deleteManualEnteringReasonRequest" />
	</wsdl:message>
	<wsdl:message name="getTimeCardRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:getTimeCardRequest" />
	</wsdl:message>
	<wsdl:message name="getTimeCardResponse">
		<wsdl:part name="result" element="clkio:getTimeCardResponse" />
	</wsdl:message>
	<wsdl:message name="punchClockRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:punchClockRequest" />
	</wsdl:message>
	<wsdl:message name="insertClockinClockoutRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:insertClockinClockoutRequest" />
	</wsdl:message>
	<wsdl:message name="updateClockinClockoutRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:updateClockinClockoutRequest" />
	</wsdl:message>
	<wsdl:message name="deleteClockinClockoutRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:deleteClockinClockoutRequest" />
	</wsdl:message>
	<wsdl:message name="insertManualEnteringRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:insertManualEnteringRequest" />
	</wsdl:message>
	<wsdl:message name="updateManualEnteringRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:updateManualEnteringRequest" />
	</wsdl:message>
	<wsdl:message name="deleteManualEnteringRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:deleteManualEnteringRequest" />
	</wsdl:message>
	<wsdl:message name="setNotesRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:setNotesRequest" />
	</wsdl:message>
	<wsdl:message name="setExpectedHoursRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:setExpectedHoursRequest" />
	</wsdl:message>
	<wsdl:message name="getTotalTimeMonthlyRequest">
		<wsdl:part name="clkioLoginCode" element="clkio:clkioLoginCode"/>
		<wsdl:part name="request" element="clkio:getTotalTimeMonthlyRequest" />
	</wsdl:message>
	<wsdl:message name="getTotalTimeMonthlyResponse">
		<wsdl:part name="result" element="clkio:getTotalTimeMonthlyResponse" />
	</wsdl:message>
	
	<!-- port types -->
	<wsdl:portType name="UserPort">
		<wsdl:operation name="insert">
			<wsdl:input message="clkws:insertUserRequest" />
			<wsdl:output message="clkws:response" />
			<wsdl:fault message="clkws:responseException" name="insertUserException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="LoginPort">
		<wsdl:operation name="doLogin">
			<wsdl:input message="clkws:doLoginRequest" />
			<wsdl:output message="clkws:loginResponse" />
			<wsdl:fault message="clkws:responseException" name="doLoginException" />
		</wsdl:operation>
		<wsdl:operation name="doLogout">
			<wsdl:input message="clkws:doLogoutRequest" />
			<wsdl:output message="clkws:response" />
			<wsdl:fault message="clkws:responseException" name="doLogoutException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="EmailPort">
		<wsdl:operation name="confirm">
			<wsdl:input message="clkws:confirmEmailRequest" />
			<wsdl:output message="clkws:response" />
			<wsdl:fault message="clkws:responseException" name="confirmEmailException" />
		</wsdl:operation>
		<wsdl:operation name="insert">
			<wsdl:input message="clkws:insertEmailRequest" />
			<wsdl:output message="clkws:responseCreated" />
			<wsdl:fault message="clkws:responseException" name="insertEmailException" />
		</wsdl:operation>
		<wsdl:operation name="list">
			<wsdl:input message="clkws:listEmailRequest" />
			<wsdl:output message="clkws:listEmailResponse" />
			<wsdl:fault message="clkws:responseException" name="listEmailException" />
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input message="clkws:deleteEmailRequest" />
			<wsdl:output message="clkws:response" />
			<wsdl:fault message="clkws:responseException" name="deleteEmailException" />
		</wsdl:operation>
		<wsdl:operation name="setEmailAsPrimary">
			<wsdl:input message="clkws:setEmailAsPrimaryRequest" />
			<wsdl:output message="clkws:response" />
			<wsdl:fault message="clkws:responseException" name="setEmailAsPrimaryException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="ProfilePort">
		<wsdl:operation name="list">
			<wsdl:input message="clkws:listProfileRequest" />
			<wsdl:output message="clkws:listProfileResponse" />
			<wsdl:fault message="clkws:responseException" name="listProfileException" />
		</wsdl:operation>
		<wsdl:operation name="insert">
			<wsdl:input message="clkws:insertProfileRequest" />
			<wsdl:output message="clkws:responseCreated" />
			<wsdl:fault message="clkws:responseException" name="insertProfileException" />
		</wsdl:operation>
		<wsdl:operation name="update">
			<wsdl:input message="clkws:updateProfileRequest" />
			<wsdl:output message="clkws:response" />
			<wsdl:fault message="clkws:responseException" name="updateProfileException" />
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input message="clkws:deleteProfileRequest" />
			<wsdl:output message="clkws:response" />
			<wsdl:fault message="clkws:responseException" name="deleteProfileException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="AdjustingPort">
		<wsdl:operation name="list">
			<wsdl:input message="clkws:listAdjustingRequest"/>
			<wsdl:output message="clkws:listAdjustingResponse"/>
			<wsdl:fault message="clkws:responseException" name="listAdjustingException" />
		</wsdl:operation>
		<wsdl:operation name="insert">
			<wsdl:input message="clkws:insertAdjustingRequest"/>
			<wsdl:output message="clkws:responseCreated"/>
			<wsdl:fault message="clkws:responseException" name="insertAdjustingException" />
		</wsdl:operation>
		<wsdl:operation name="update">
			<wsdl:input message="clkws:updateAdjustingRequest"/>
			<wsdl:output message="clkws:response"/>
			<wsdl:fault message="clkws:responseException" name="updateAdjustingException" />
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input message="clkws:deleteAdjustingRequest"/>
			<wsdl:output message="clkws:response"/>
			<wsdl:fault message="clkws:responseException" name="deleteAdjustingException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="ManualEnteringReasonPort">
		<wsdl:operation name="list">
			<wsdl:input message="clkws:listManualEnteringReasonRequest"/>
			<wsdl:output message="clkws:listManualEnteringReasonResponse"/>
			<wsdl:fault message="clkws:responseException" name="listManualEnteringReasonException" />
		</wsdl:operation>
		<wsdl:operation name="insert">
			<wsdl:input message="clkws:insertManualEnteringReasonRequest"/>
			<wsdl:output message="clkws:responseCreated"/>
			<wsdl:fault message="clkws:responseException" name="insertManualEnteringReasonException" />
		</wsdl:operation>
		<wsdl:operation name="update">
			<wsdl:input message="clkws:updateManualEnteringReasonRequest"/>
			<wsdl:output message="clkws:response"/>
			<wsdl:fault message="clkws:responseException" name="updateManualEnteringReasonException" />
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input message="clkws:deleteManualEnteringReasonRequest"/>
			<wsdl:output message="clkws:response"/>
			<wsdl:fault message="clkws:responseException" name="deleteManualEnteringReasonException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="TimeCardPort">
		<wsdl:operation name="getTotalTime">
			<wsdl:input message="clkws:getTotalTimeRequest"/>
			<wsdl:output message="clkws:getTotalTimeResponse"/>
			<wsdl:fault message="clkws:responseException" name="getTotalTimeException" />
		</wsdl:operation>
		<wsdl:operation name="getTimeCard">
			<wsdl:input message="clkws:getTimeCardRequest"/>
			<wsdl:output message="clkws:getTimeCardResponse"/>
			<wsdl:fault message="clkws:responseException" name="getTimeCardException" />
		</wsdl:operation>
		<wsdl:operation name="punchClock">
			<wsdl:input message="clkws:punchClockRequest"/>
			<wsdl:output message="clkws:responseCreated"/>
			<wsdl:fault message="clkws:responseException" name="punchClockException" />
		</wsdl:operation>
		<wsdl:operation name="insertClockinClockout">
			<wsdl:input message="clkws:insertClockinClockoutRequest"/>
			<wsdl:output message="clkws:responseCreated"/>
			<wsdl:fault message="clkws:responseException" name="insertClockinClockoutException" />
		</wsdl:operation>
		<wsdl:operation name="updateClockinClockout">
			<wsdl:input message="clkws:updateClockinClockoutRequest"/>
			<wsdl:output message="clkws:response"/>
			<wsdl:fault message="clkws:responseException" name="updateClockinClockoutException" />
		</wsdl:operation>
		<wsdl:operation name="deleteClockinClockout">
			<wsdl:input message="clkws:deleteClockinClockoutRequest"/>
			<wsdl:output message="clkws:response"/>
			<wsdl:fault message="clkws:responseException" name="deleteClockinClockoutException" />
		</wsdl:operation>
		<wsdl:operation name="insertManualEntering">
			<wsdl:input message="clkws:insertManualEnteringRequest"/>
			<wsdl:output message="clkws:responseCreated"/>
			<wsdl:fault message="clkws:responseException" name="insertManualEnteringException" />
		</wsdl:operation>
		<wsdl:operation name="updateManualEntering">
			<wsdl:input message="clkws:updateManualEnteringRequest"/>
			<wsdl:output message="clkws:response"/>
			<wsdl:fault message="clkws:responseException" name="updateManualEnteringException" />
		</wsdl:operation>
		<wsdl:operation name="deleteManualEntering">
			<wsdl:input message="clkws:deleteManualEnteringRequest"/>
			<wsdl:output message="clkws:response"/>
			<wsdl:fault message="clkws:responseException" name="deleteManualEnteringException" />
		</wsdl:operation>
		<wsdl:operation name="setNotes">
			<wsdl:input message="clkws:setNotesRequest"/>
			<wsdl:output message="clkws:response"/>
			<wsdl:fault message="clkws:responseException" name="setNotesException" />
		</wsdl:operation>
		<wsdl:operation name="setExpectedHours">
			<wsdl:input message="clkws:setExpectedHoursRequest"/>
			<wsdl:output message="clkws:response"/>
			<wsdl:fault message="clkws:responseException" name="setExpectedHoursException" />
		</wsdl:operation>
		<wsdl:operation name="getTotalTimeMonthly">
			<wsdl:input message="clkws:getTotalTimeMonthlyRequest"/>
			<wsdl:output message="clkws:getTotalTimeMonthlyResponse"/>
			<wsdl:fault message="clkws:responseException" name="getTotalTimeMonthlyException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="ResetPasswordPort">
		<wsdl:operation name="requestResetPassword">
			<wsdl:input message="clkws:requestResetPasswordRequest"/>
			<wsdl:output message="clkws:response"/>
			<wsdl:fault message="clkws:responseException" name="requestResetPasswordException" />
		</wsdl:operation>
		<wsdl:operation name="confirmResetPassword">
			<wsdl:input message="clkws:confirmResetPasswordRequest"/>
			<wsdl:output message="clkws:confirmResetPasswordResponse"/>
			<wsdl:fault message="clkws:responseException" name="confirmResetPasswordException" />
		</wsdl:operation>
		<wsdl:operation name="resetPassword">
			<wsdl:input message="clkws:resetPasswordRequest"/>
			<wsdl:output message="clkws:response"/>
			<wsdl:fault message="clkws:responseException" name="resetPasswordException" />
		</wsdl:operation>
	</wsdl:portType>
	
	<!-- bindings -->
	<wsdl:binding name="UserBinding" type="clkws:UserPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="insert">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="insertUserException">
				<soap:fault name="insertUserException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="LoginBinding" type="clkws:LoginPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="doLogin">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="doLoginException">
				<soap:fault name="doLoginException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="doLogout">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:doLogoutRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="doLogoutException">
				<soap:fault name="doLogoutException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="EmailBinding" type="clkws:EmailPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="confirm">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="confirmEmailException">
				<soap:fault name="confirmEmailException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="insert">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:insertEmailRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="insertEmailException">
				<soap:fault name="insertEmailException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="list">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:listEmailRequest" use="literal"/>
				<soap:body parts="request" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="listEmailException">
				<soap:fault name="listEmailException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:deleteEmailRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="deleteEmailException">
				<soap:fault name="deleteEmailException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setEmailAsPrimary">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:setEmailAsPrimaryRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="setEmailAsPrimaryException">
				<soap:fault name="setEmailAsPrimaryException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ProfileBinding" type="clkws:ProfilePort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="list">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:listProfileRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="listProfileException">
				<soap:fault name="listProfileException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="insert">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:insertProfileRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="insertProfileException">
				<soap:fault name="insertProfileException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="update">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:updateProfileRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="updateProfileException">
				<soap:fault name="updateProfileException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:deleteProfileRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="deleteProfileException">
				<soap:fault name="deleteProfileException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="AdjustingBinding" type="clkws:AdjustingPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="list">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:listAdjustingRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="listAdjustingException">
				<soap:fault name="listAdjustingException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="insert">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:insertAdjustingRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="insertAdjustingException">
				<soap:fault name="insertAdjustingException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="update">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:updateAdjustingRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="updateAdjustingException">
				<soap:fault name="updateAdjustingException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:deleteAdjustingRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="deleteAdjustingException">
				<soap:fault name="deleteAdjustingException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ManualEnteringReasonBinding" type="clkws:ManualEnteringReasonPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="list">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:listManualEnteringReasonRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="listManualEnteringReasonException">
				<soap:fault name="listManualEnteringReasonException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="insert">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:insertManualEnteringReasonRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="insertManualEnteringReasonException">
				<soap:fault name="insertManualEnteringReasonException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="update">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:updateManualEnteringReasonRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="updateManualEnteringReasonException">
				<soap:fault name="updateManualEnteringReasonException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:deleteManualEnteringReasonRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="deleteManualEnteringReasonException">
				<soap:fault name="deleteManualEnteringReasonException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="TimeCardBinding" type="clkws:TimeCardPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="getTotalTime">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:getTotalTimeRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="getTotalTimeException">
				<soap:fault name="getTotalTimeException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getTimeCard">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:getTimeCardRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="getTimeCardException">
				<soap:fault name="getTimeCardException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="punchClock">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:punchClockRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="punchClockException">
				<soap:fault name="punchClockException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="insertClockinClockout">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:insertClockinClockoutRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="insertClockinClockoutException">
				<soap:fault name="insertClockinClockoutException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateClockinClockout">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:updateClockinClockoutRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="updateClockinClockoutException">
				<soap:fault name="updateClockinClockoutException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteClockinClockout">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:deleteClockinClockoutRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="deleteClockinClockoutException">
				<soap:fault name="deleteClockinClockoutException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="insertManualEntering">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:insertManualEnteringRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="insertManualEnteringException">
				<soap:fault name="insertManualEnteringException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateManualEntering">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:updateManualEnteringRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="updateManualEnteringException">
				<soap:fault name="updateManualEnteringException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteManualEntering">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:deleteManualEnteringRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="deleteManualEnteringException">
				<soap:fault name="deleteManualEnteringException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setNotes">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:setNotesRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="setNotesException">
				<soap:fault name="setNotesException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setExpectedHours">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:setExpectedHoursRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="setExpectedHoursException">
				<soap:fault name="setExpectedHoursException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getTotalTimeMonthly">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header part="clkioLoginCode" message="clkws:getTotalTimeMonthlyRequest" use="literal"/>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="getTotalTimeMonthlyException">
				<soap:fault name="getTotalTimeMonthlyException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ResetPasswordBinding" type="clkws:ResetPasswordPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="requestResetPassword">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="requestResetPasswordException">
				<soap:fault name="requestResetPasswordException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="confirmResetPassword">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="confirmResetPasswordException">
				<soap:fault name="confirmResetPasswordException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="resetPassword">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="resetPasswordException">
				<soap:fault name="resetPasswordException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
	<!-- port services -->
	<wsdl:service name="ClkIOWS">
		<wsdl:port name="UserService" binding="clkws:UserBinding">
			<soap:address location="http://ws.clkio.com/user" />
		</wsdl:port>
		<wsdl:port name="LoginService" binding="clkws:LoginBinding">
			<soap:address location="http://ws.clkio.com/login" />
		</wsdl:port>
		<wsdl:port name="EmailService" binding="clkws:EmailBinding">
			<soap:address location="http://ws.clkio.com/email" />
		</wsdl:port>
		<wsdl:port name="ProfileService" binding="clkws:ProfileBinding">
			<soap:address location="http://ws.clkio.com/profile" />
		</wsdl:port>
		<wsdl:port name="AdjustingService" binding="clkws:AdjustingBinding">
			<soap:address location="http://ws.clkio.com/adjusting" />
		</wsdl:port>
		<wsdl:port name="ManualEnteringReasonService" binding="clkws:ManualEnteringReasonBinding">
			<soap:address location="http://ws.clkio.com/manualenteringreason" />
		</wsdl:port>
		<wsdl:port name="TimeCardService" binding="clkws:TimeCardBinding">
			<soap:address location="http://ws.clkio.com/timecard" />
		</wsdl:port>
		<wsdl:port name="ResetPasswordService" binding="clkws:ResetPasswordBinding">
			<soap:address location="http://ws.clkio.com/requestresetpassword" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
