src/main/webapp/WEB-INF/wsdl/clkio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="clkio" targetNamespace="http://ws.clkio.com"
	xmlns:clkws="http://ws.clkio.com"
	xmlns:clkio="http://schemas.clkio.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<wsdl:types>
		<xs:schema targetNamespace="http://schemas.clkio.com"
			xmlns:common="http://schemas.clkio.com/common"
			xmlns:user="http://schemas.clkio.com/user"
			xmlns:login="http://schemas.clkio.com/login"
			xmlns:email="http://schemas.clkio.com/email"
			xmlns:profile="http://schemas.clkio.com/profile"
			xmlns:adjusting="http://schemas.clkio.com/adjusting"
			xmlns:reason="http://schemas.clkio.com/reason"
			xmlns:timecard="http://schemas.clkio.com/timecard"
			xmlns:resetpassword="http://schemas.clkio.com/resetpassword"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
			
			<xs:import namespace="http://schemas.clkio.com/common" schemaLocation="common.xsd" />
			<xs:import namespace="http://schemas.clkio.com/user" schemaLocation="user.xsd" />
			<xs:import namespace="http://schemas.clkio.com/login" schemaLocation="login.xsd" />
			<xs:import namespace="http://schemas.clkio.com/email" schemaLocation="email.xsd" />
			<xs:import namespace="http://schemas.clkio.com/profile" schemaLocation="profile.xsd" />
			<xs:import namespace="http://schemas.clkio.com/adjusting" schemaLocation="adjusting.xsd" />
			<xs:import namespace="http://schemas.clkio.com/reason" schemaLocation="reason.xsd" />
			<xs:import namespace="http://schemas.clkio.com/timecard" schemaLocation="timecard.xsd" />
			<xs:import namespace="http://schemas.clkio.com/resetpassword" schemaLocation="resetpassword.xsd" />

			<xs:element name="response" type="common:response" nillable="false"/>
			<xs:element name="responseException" type="common:responseException" nillable="false"/>
			<xs:element name="insertUserRequest" type="user:insertUserRequest" nillable="false"/>
			<xs:element name="doLoginRequest" type="login:doLoginRequest" nillable="false"/>
			<xs:element name="loginResponse" type="login:loginResponse" nillable="false"/>
			<xs:element name="confirmEmailRequest" type="email:confirmEmailRequest" nillable="false"/>
			<xs:element name="insertEmailRequest" type="email:insertEmailRequest" nillable="false"/>
			<xs:element name="listEmailRequest" type="email:listEmailRequest" nillable="false"/>
			<xs:element name="listEmailResponse" type="email:listEmailResponse" nillable="false"/>
			<xs:element name="deleteEmailRequest" type="email:deleteEmailRequest" nillable="false"/>
			<xs:element name="setEmailAsPrimaryRequest" type="email:setEmailAsPrimaryRequest" nillable="false"/>
			<xs:element name="listProfileRequest" type="profile:listProfileRequest" nillable="false"/>
			<xs:element name="listProfileResponse" type="profile:listProfileResponse" nillable="false"/>
			<xs:element name="listAdjustingRequest" type="adjusting:listAdjustingRequest" nillable="false"/>
			<xs:element name="listAdjustingResponse" type="adjusting:listAdjustingResponse" nillable="false"/>
			<xs:element name="listManualEnteringReasonRequest" type="reason:listManualEnteringReasonRequest" nillable="false"/>
			<xs:element name="listManualEnteringReasonResponse" type="reason:listManualEnteringReasonResponse" nillable="false"/>
			<xs:element name="getTotalTimeRequest" type="timecard:getTotalTimeRequest" nillable="false"/>
			<xs:element name="getTotalTimeResponse" type="timecard:getTotalTimeResponse" nillable="false"/>
			<xs:element name="requestResetRequest" type="resetpassword:requestResetRequest" nillable="false"/>
			<xs:element name="insertProfileRequest" type="profile:insertProfileRequest" nillable="false"/>
		</xs:schema>
	</wsdl:types>
	
	<!-- messages -->
	<wsdl:message name="response">
		<wsdl:part name="result" element="clkio:response" />
	</wsdl:message>
	<wsdl:message name="responseException">
		<wsdl:part name="exception" element="clkio:responseException" />
	</wsdl:message>
	<wsdl:message name="insertUserRequest">
		<wsdl:part name="request" element="clkio:insertUserRequest" />
	</wsdl:message>
	<wsdl:message name="doLoginRequest">
		<wsdl:part name="request" element="clkio:doLoginRequest" />
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part name="result" element="clkio:loginResponse" />
	</wsdl:message>
	<wsdl:message name="confirmEmailRequest">
		<wsdl:part name="request" element="clkio:confirmEmailRequest" />
	</wsdl:message>
	<wsdl:message name="insertEmailRequest">
		<wsdl:part name="request" element="clkio:insertEmailRequest" />
	</wsdl:message>
	<wsdl:message name="listEmailRequest">
		<wsdl:part name="request" element="clkio:listEmailRequest" />
	</wsdl:message>
	<wsdl:message name="listEmailResponse">
		<wsdl:part name="result" element="clkio:listEmailResponse" />
	</wsdl:message>
	<wsdl:message name="deleteEmailRequest">
		<wsdl:part name="request" element="clkio:deleteEmailRequest" />
	</wsdl:message>
	<wsdl:message name="setEmailAsPrimaryRequest">
		<wsdl:part name="request" element="clkio:setEmailAsPrimaryRequest" />
	</wsdl:message>
	<wsdl:message name="listProfileRequest">
		<wsdl:part name="request" element="clkio:listProfileRequest" />
	</wsdl:message>
	<wsdl:message name="listProfileResponse">
		<wsdl:part name="result" element="clkio:listProfileResponse" />
	</wsdl:message>
	<wsdl:message name="listAdjustingRequest">
		<wsdl:part name="request" element="clkio:listAdjustingRequest" />
	</wsdl:message>
	<wsdl:message name="listAdjustingResponse">
		<wsdl:part name="result" element="clkio:listAdjustingResponse" />
	</wsdl:message>
	<wsdl:message name="listManualEnteringReasonRequest">
		<wsdl:part name="request" element="clkio:listManualEnteringReasonRequest" />
	</wsdl:message>
	<wsdl:message name="listManualEnteringReasonResponse">
		<wsdl:part name="result" element="clkio:listManualEnteringReasonResponse" />
	</wsdl:message>
	<wsdl:message name="getTotalTimeRequest">
		<wsdl:part name="request" element="clkio:getTotalTimeRequest" />
	</wsdl:message>
	<wsdl:message name="getTotalTimeResponse">
		<wsdl:part name="result" element="clkio:getTotalTimeResponse" />
	</wsdl:message>
	<wsdl:message name="requestResetRequest">
		<wsdl:part name="request" element="clkio:requestResetRequest" />
	</wsdl:message>
	<wsdl:message name="insertProfileRequest">
		<wsdl:part name="request" element="clkio:insertProfileRequest" />
	</wsdl:message>
	
	<!-- port types -->
	<wsdl:portType name="UserPort">
		<wsdl:operation name="insert">
			<wsdl:input message="clkws:insertUserRequest" />
			<wsdl:output message="clkws:response" />
			<wsdl:fault message="clkws:responseException" name="insertUserException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="LoginPort">
		<wsdl:operation name="doLogin">
			<wsdl:input message="clkws:doLoginRequest" />
			<wsdl:output message="clkws:loginResponse" />
			<wsdl:fault message="clkws:responseException" name="doLoginException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="EmailPort">
		<wsdl:operation name="confirm">
			<wsdl:input message="clkws:confirmEmailRequest" />
			<wsdl:output message="clkws:response" />
			<wsdl:fault message="clkws:responseException" name="confirmEmailException" />
		</wsdl:operation>
		<wsdl:operation name="insert">
			<wsdl:input message="clkws:insertEmailRequest" />
			<wsdl:output message="clkws:response" />
			<wsdl:fault message="clkws:responseException" name="insertEmailException" />
		</wsdl:operation>
		<wsdl:operation name="list">
			<wsdl:input message="clkws:listEmailRequest" />
			<wsdl:output message="clkws:listEmailResponse" />
			<wsdl:fault message="clkws:responseException" name="listEmailException" />
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input message="clkws:deleteEmailRequest" />
			<wsdl:output message="clkws:response" />
			<wsdl:fault message="clkws:responseException" name="deleteEmailException" />
		</wsdl:operation>
		<wsdl:operation name="setEmailAsPrimary">
			<wsdl:input message="clkws:setEmailAsPrimaryRequest" />
			<wsdl:output message="clkws:response" />
			<wsdl:fault message="clkws:responseException" name="setEmailAsPrimaryException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="ProfilePort">
		<wsdl:operation name="list">
			<wsdl:input message="clkws:listProfileRequest" />
			<wsdl:output message="clkws:listProfileResponse" />
			<wsdl:fault message="clkws:responseException" name="listProfileException" />
		</wsdl:operation>
		<wsdl:operation name="insert">
			<wsdl:input message="clkws:insertProfileRequest" />
			<wsdl:output message="clkws:response" />
			<wsdl:fault message="clkws:responseException" name="insertProfileException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="AdjustingPort">
		<wsdl:operation name="list">
			<wsdl:input message="clkws:listAdjustingRequest"/>
			<wsdl:output message="clkws:listAdjustingResponse"/>
			<wsdl:fault message="clkws:responseException" name="listAdjustingException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="ManualEnteringReasonPort">
		<wsdl:operation name="list">
			<wsdl:input message="clkws:listManualEnteringReasonRequest"/>
			<wsdl:output message="clkws:listManualEnteringReasonResponse"/>
			<wsdl:fault message="clkws:responseException" name="listManualEnteringReasonException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="TimeCardPort">
		<wsdl:operation name="getTotalTime">
			<wsdl:input message="clkws:getTotalTimeRequest"/>
			<wsdl:output message="clkws:getTotalTimeResponse"/>
			<wsdl:fault message="clkws:responseException" name="getTotalTimeException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="ResetPasswordPort">
		<wsdl:operation name="requestReset">
			<wsdl:input message="clkws:requestResetRequest"/>
			<wsdl:output message="clkws:response"/>
			<wsdl:fault message="clkws:responseException" name="requestResetException" />
		</wsdl:operation>
	</wsdl:portType>
	
	<!-- bindings -->
	<wsdl:binding name="UserBinding" type="clkws:UserPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="insert">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="insertUserException">
				<soap:fault name="insertUserException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="LoginBinding" type="clkws:LoginPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="doLogin">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="doLoginException">
				<soap:fault name="doLoginException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="EmailBinding" type="clkws:EmailPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="confirm">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="confirmEmailException">
				<soap:fault name="confirmEmailException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="insert">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="insertEmailException">
				<soap:fault name="insertEmailException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="list">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="listEmailException">
				<soap:fault name="listEmailException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="deleteEmailException">
				<soap:fault name="deleteEmailException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setEmailAsPrimary">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="setEmailAsPrimaryException">
				<soap:fault name="setEmailAsPrimaryException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ProfileBinding" type="clkws:ProfilePort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="list">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="listProfileException">
				<soap:fault name="listProfileException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="insert">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="insertProfileException">
				<soap:fault name="insertProfileException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="AdjustingBinding" type="clkws:AdjustingPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="list">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="listAdjustingException">
				<soap:fault name="listAdjustingException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ManualEnteringReasonBinding" type="clkws:ManualEnteringReasonPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="list">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="listManualEnteringReasonException">
				<soap:fault name="listManualEnteringReasonException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="TimeCardBinding" type="clkws:TimeCardPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="getTotalTime">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="getTotalTimeException">
				<soap:fault name="getTotalTimeException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ResetPasswordBinding" type="clkws:ResetPasswordPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="requestReset">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="requestResetException">
				<soap:fault name="requestResetException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
	<!-- port services -->
	<wsdl:service name="ClkIOWS">
		<wsdl:port name="UserService" binding="clkws:UserBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</wsdl:port>
		<wsdl:port name="LoginService" binding="clkws:LoginBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</wsdl:port>
		<wsdl:port name="EmailService" binding="clkws:EmailBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</wsdl:port>
		<wsdl:port name="ProfileService" binding="clkws:ProfileBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</wsdl:port>
		<wsdl:port name="AdjustingService" binding="clkws:AdjustingBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</wsdl:port>
		<wsdl:port name="ManualEnteringReasonService" binding="clkws:ManualEnteringReasonBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</wsdl:port>
		<wsdl:port name="TimeCardService" binding="clkws:TimeCardBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</wsdl:port>
		<wsdl:port name="ResetPasswordService" binding="clkws:ResetPasswordBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
