src/main/webapp/WEB-INF/wsdl/common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xsd.clkio.com"
	xmlns:clk="http://xsd.clkio.com"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="qualified"
	elementFormDefault="qualified">
	
	<xs:element name="ResponseException" type="clk:CPResponseException" />
	<xs:complexType name="CPResponseException">
		<xs:sequence>
			<xs:element name="info" type="xs:string" />
			<xs:element name="message" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>