src/main/webapp/WEB-INF/wsdl/user.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://ws.clkio.com/user"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="qualified"
	elementFormDefault="qualified">
	
	<xs:element name="User">
		<xs:complexType>
	        <xs:sequence>
				<xs:element name="email" type="xs:string" maxOccurs="1" minOccurs="1" />
				<xs:element name="password" type="xs:string" maxOccurs="1" minOccurs="1" />
	        </xs:sequence>
        </xs:complexType>
	</xs:element>
</xs:schema>
