src/main/webapp/WEB-INF/wsdl/user.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xsd.clkio.com"
	xmlns:clk="http://xsd.clkio.com"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="qualified"
	elementFormDefault="qualified">
	
	<xs:element name="User" type="clk:CPUser"/>
	<xs:complexType name="CPUser">
		<xs:sequence>
			<xs:element name="email" type="xs:string" maxOccurs="1" minOccurs="1" />
			<xs:element name="password" type="xs:string" maxOccurs="1" minOccurs="1" />
			<xs:element name="locale" type="xs:string" maxOccurs="1" minOccurs="1" default="pt_br"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>