wsdl/user.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.clkio.com"
	xmlns:clk="http://schemas.clkio.com"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="qualified"
	elementFormDefault="qualified">

	<xs:element name="User" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="email" type="xs:string" maxOccurs="1" minOccurs="1" />
				<xs:element name="password" type="xs:string" maxOccurs="1" minOccurs="1" />
				<xs:element name="locale" type="xs:string" maxOccurs="1" minOccurs="1" default="pt_br"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
